# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/*.auto.tfvars

# Secrets
*.pem
*.key
*.crt

# SSH
id_rsa
id_rsa.pub

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log
